   /* Global Layout Set-up */
 * {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  width: 100%;
  padding: 0;
  text-align: center;
  font-family: 'Titillium Web', sans-serif;
  color: #222;
  background: #fafafa;
}

h1 {
  color: #4a4a4a;
  font-size: 1.5em;
  font-weight: 600;
}

h2 {
  color: #4a4a4a;
  font-size: 1.2em;
}


p {
  color: #737373;
  font-size: 1em;
  line-height: 1.5em;
  text-align: center;
  width: 90%;
  margin: 0 auto;
  padding: 5px;
}

hr {
  color: darkgrey;
  width: 90%;
}

a {
  text-decoration: none;
}


/********************************
Mobile First Approach - Default Styles
********************************/
a.main-nav {
  display: block;
  width: 90%;
  margin: 0 auto;
  color: #4a4a4a;
  font-weight: 600;
  background-color: #fff;
  border-radius: 2px;
  padding: 10px;
  text-decoration: none;
  margin-bottom: 5px;
  text-transform: uppercase;
}

h2.portfolio-heading {
  padding-top: 60px;
  margin-top: 20px;
  margin: 0 auto;
  text-transform: uppercase;
}

img.image-block {
  width: 100%;
  margin: 0 auto;
}

img.profile-image {
  width: 70%;
  margin: 0 auto;
  margin-top: 4em;
  margin-bottom: 2em;
}

header {
  background-color: #fafafa;
  margin-bottom: 5em;
}

.main-block {
  width: 90%;
  padding: 3px;
  margin: 0 auto;
  display: block;
}

.content {
  background-color: #fff;
  width: 100%;
  margin: 0 auto;
}



/********************************
 Header Styles
 ********************************/


/********************************
Media Queries and Breaks: Set @ 768 px and 1024 px
********************************/

@Media (min-width: 768px) {

  body {
    margin: 0 auto;
    width: 100%;
    padding: 0;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: #222;
    background: #fafafa;
  }

  header,
  footer {
    margin: 0 auto;
    width: 100%;
    padding: 0;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: #222;
    background: #fafafa;
  }

  .content {
    width: 80%;
    margin: 0 auto;
  }

  .main-block {
    width: 49%;
    padding: 15px;
    margin: 0 auto;
    display: inline-block;
  }

  p.introduction-paragraph {
    max-width: 768px;
    padding: 20px;
  }

}

@Media (min-width: 1024px) {

  div.header-content {
    max-width: 1300px;
    display: inline-block;
    text-align: center;
  }

  .main-block {
    width: 30%;
    padding: 15px;
    margin: 0 auto;
    display: inline-block;
  }

}
