/* Global Layout Set-up */
* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  width: 90%;
  padding: 0;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  color: #222;
  background: #f7f5f0;
}

/********************************
Mobile First Approach - Default Styles
********************************/

img.image-block {
  width: 100%;
  margin: 0 auto;
  border: 5px solid red;
}




/********************************
 Header Styles
 ********************************/


/********************************
Media Queries and Breaks: Set @ 768 px and 1024 px
********************************/

@Media (min-width: 768px) {

  body {
    margin: 0 auto;
    width: 100%;
    padding: 0;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: #222;
    background: #f7f5f0;
  }

  header,
  footer {
    margin: 0 auto;
    width: 100%;
    padding: 0;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: #222;
    background: #f7f5f0;
  }

  .content {
    width: 80%;
    margin: 0 auto;
  }


}

@Media (min-width: 1024px) {



}
